/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}


/* ... */


ol {
  list-style: none;
  padding:0;
  margin:0 auto 0 auto;

  width:80vmin;
  height:60vmin;
  background-color:green;

  overflow:scroll;

  display:flex;
  flex-direction: column-reverse;
}

li {
  background-color: red;
  height:100%;
  flex-shrink: 0;
}

li img {
  width:100%;
  height:100%;
}