/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
@font-face {
  font-family: "Vraagteken1992";
  src: url(../fonts/minecraft-webfont.woff2);
}
@font-face {
  font-family: "vraagteken3";
  src: url(../fonts/bubblebobble-rg3rx-webfont.woff2);
}
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
}


/* ... */


ol {
  list-style: none;
  padding:0;
  margin:0 auto 0 auto;

  width:80vmin;
  height:60vmin;
  background-color:green;

  overflow:scroll;

  display:flex;
  flex-direction: column-reverse;
}

li {
  position: relative;
  background-color: red;
  height:100%;
  flex-shrink: 0;
}

li img {
  width:100%;
  height:100%;
}

li:nth-of-type(1) div{
  position: absolute;
  top:35%;
  left:40%;
  width: 10vmin;
  height: 10vmin;
  background-color: rgb(244 164 96);
  /* background-color: color(display-p3 0.244 0.164 0.96); */
  text-align: center;
  line-height: 1em;
  font-family:"Vraagteken19", sans-serif;
  box-shadow:inset -.1em -.1em 0em black,
  inset .1em .1em 0em rgb(210 105 30);
  font-size:8vmin;
  font-family:"Vraagteken1992";
  rotate:10deg;
  display:flex;
  align-items:end;
  justify-content: center;
}

li:nth-of-type(2) div{
  /* background-image: linear-gradient(rgb 225 3 3, 0% rgb 0 255 246, 25% rgb 45 51 121, 50% rgb 255 237 0, 75% rgb 11 255 0, 100%); 
  Bovenstaande was mijn poging tot de gradient, maar wilde niet lukken. Onderstaande is vanuit een generator via https://coolors.co/gradient-maker/e9b7ce-ff0000-ff0000-00c8ff-4000ff-f7ff00-1aff00?position=0,0,9,33,52,76,92&opacity=100,100,100,100,100,100,100&type=linear&rotation=45*/
  background: hsla(332, 53%, 82%, 1);
  background: linear-gradient(45deg, hsla(332, 53%, 82%, 1) 0%, hsla(0, 100%, 50%, 1) 0%, hsla(0, 100%, 50%, 1) 9%, hsla(193, 100%, 50%, 1) 33%, hsla(255, 100%, 50%, 1) 52%, hsla(62, 100%, 50%, 1) 76%, hsla(114, 100%, 50%, 1) 92%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9B7CE", endColorstr="#FF0000", GradientType=1 );
  position: absolute;
  top:35%;
  
  width: 10vmin;
  height: 10vmin;
  /* rotate:45deg; */
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

li:nth-of-type(2) div:nth-of-type(1) {
  left:40%;
  box-shadow: .5em .5em 1.5em black;
}

li:nth-of-type(2) div:nth-of-type(2) {
  left:60%;
  rotate:180deg;
  box-shadow: -.5em -.5em 1.5em black;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateZ(45deg);
  }
  100% {
    transform: rotateY(360deg) rotateZ(45deg);
  }
}

li:nth-of-type(2) span{
  display:block;
  font-size:8vmin;
  color: white;
  font-family: vraagteken3;
  line-height: 1.2em;
  display:flex;
  align-items:center;
  justify-content: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  animation-name: rotateFlip;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateFlip {
  0%, 24.99% {
    transform: rotateZ(-45deg);
  }

  25%, 74.99% {
    transform: rotateZ(-45deg) scaleX(-1);
  }
  75%, 100% {
    transform: rotateZ(-45deg);
  }
}

@keyframes turn {
    from {
      transform: rotatey(0deg) rotatex(45deg) rotatez(60deg);
    }
    to {
      transform: rotatey(360deg)rotatex(45deg)rotatez(60deg);
    }
  }

  li:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:8vmin;
    font-family: "vraagteken3";
    line-height: 1.2em;
    display:flex;
    justify-content: center;
    text-align: center;
  }

  .cube {
    --cube-size:60px;
    width: var(--cube-size);
    aspect-ratio:1/1;
    transform-style: preserve-3d;
    position: absolute;
  }

  .face {
  width: 100%;
  height: 100%;
  background: #ff6d00;
  border: 2px solid white;
  position: absolute;
  top:0;
  left:0;
  }
  .front {
  transform: translateZ( calc(var(--cube-size) / 2) );
  background-color: red;
  }
  .back {
  transform: translateZ( calc(var(--cube-size) / -2) ) rotateY(180deg);
  background-color: red;
  }
  .left {
  transform: translateX( calc(var(--cube-size) / 2)  ) rotateY(-90deg);
  background-color: blue;
  }
  .right {
  transform: translateX( calc(var(--cube-size) / -2) ) rotateY(90deg);
  background-color: blue;
  }
  .top {
  transform: translateY( calc(var(--cube-size) / -2) ) rotateX(90deg);
  background-color: green;
  }
  .bottom {
  transform: translateY( calc(var(--cube-size) / 2) ) rotateX(-90deg);
  background-color: green;
  }

  keyframes turn {
    from {
      transform: rotatey(0deg) rotatex(45deg) rotatez(60deg);
    }
    to {
      transform: rotatey(360deg)rotatex(45deg)rotatez(60deg);
    }
  }

  li:nth-of-type(4){
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:8vmin;
    font-family: "vraagteken3";
    line-height: 1.2em;
    display:flex;
    justify-content: center;
    text-align: center;
  }

  .cube2 {
    --cube-size:60px;
    width: var(--cube-size);
    aspect-ratio:1/1;
    transform-style: preserve-3d;
    animation: turn 5s linear infinite;
    position: absolute;
  }

  .face2 {
  width: 100%;
  height: 100%;
  background: #ff6d00;
  border: 2px solid white;
  position: absolute;
  top:0;
  left:0;
  }
  .front2 {
  transform: translateZ( calc(var(--cube-size) / 2) );
  background-color: red;
  }
  .back2 {
  transform: translateZ( calc(var(--cube-size) / -2) ) rotateY(180deg);
  background-color: red;
  }
  .left2 {
  transform: translateX( calc(var(--cube-size) / 2)  ) rotateY(-90deg);
  background-color: blue;
  }
  .right2 {
  transform: translateX( calc(var(--cube-size) / -2) ) rotateY(90deg);
  background-color: blue;
  }
  .top2 {
  transform: translateY( calc(var(--cube-size) / -2) ) rotateX(90deg);
  background-color: green;
  }
  .bottom2 {
  transform: translateY( calc(var(--cube-size) / 2) ) rotateX(-90deg);
  background-color: green;
  }
  

/* li:nth-of-type(3) div{
  background-color: green;
  top:35%;
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  left:40%;
} */

/* li:nth-of-type(3) span{
  color: white;
  display:block;
  font-size:8vmin;
  
  line-height: 1.2em;
  display:flex;
  align-items:center;
  justify-content: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
